.navbar-main {
    padding: 1rem 0;
    background-color: #ffffff;

}

.navbar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 4rem;
    align-items: center;
}

.navbar-item {
    text-decoration: none;
    color: #2563eb;
    font-weight: bold;
}
